{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h3>Nhập dữ liệu về nhà tuyển dụng</h3>
        <table class="table">
            <thead>
                <th>Tên công ty</th>
                <th>Quốc gia</th>
                <th>Địa chỉ văn phòng</th>
            </thead>
            <tbody id="input-here">
            </tbody>
        </table>
        <div class="row"><button type="button" class="glyphicon glyphicon-plus" id="btn-add-row">Thêm dòng</button></div>
        <div class="row">
            <button type="button" class="btn btn-primary" id="btn-submit">Lưu lại</button>
            <button type="button" class="btn btn-primary" id="btn-reset">Xóa</button>
            <a type="button" href={% url 'data_entry_main' %} class="btn btn-primary">Chọn Bảng Khác</a>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
     return cookieValue;
    };
    function addNewRow(){
        $('#input-here').append($('<tr>')
        .append($('<td>')
            .append($('<input id="employer_name" type="text">')
            )
        )
        .append($('<td>')
            .append($('<input id="country" type="date">')
            )
        )
        .append($('<td>')
            .append($('<input id="address" type="text">')
            )
        )
        .append($('<td>')
            .append($('<button class="glyphicon glyphicon-minus" type="button" onClick="$(this).closest(\'tr\').remove();">'))
        )
    );
    };
        $(document).ready(addNewRow());

        $('#btn-add-row').click(
            function () {
                addNewRow()
            });

        $('#btn-reset').click(
            function () {
                $('#input-here').empty();
            }
        );
        $('#btn-submit').click(
            function () {
                var csrftoken = getCookie('csrftoken');

                var employer_name_arr = [];
                var country_arr = [];
                var address_arr = [];

                $('#input-here tr').each(
                    function () {
                        var employer_name = $(this).find('#employer_name');
                        var country = $(this).find('#country');
                        var address = $(this).find('#address');

                        var good_to_go = true;

                        if(!employer_name.val()){
                            good_to_go = false;
                            employer_name.parent('td').addClass('warning');
                            alert("Thiếu tên công ty.");
                        }else {
                            employer_name.parent('td').removeClass('warning');
                        };
                        if(!country.val()){
                            good_to_go = false;
                            country.parent('td').addClass('warning');
                            alert("Thiếu quốc gia.");
                        }else{
                            country.parent('td').removeClass('warning');
                        };
                        if(!address.val()){
                            good_to_go = false;
                            address.parent('td').addClass('warning');
                            alert("Thiếu địa chỉ hiện tại.");
                        } else {
                            address.parent('td').removeClass('warning');
                        };

                        if(good_to_go){
                            student_name_arr.push(student_name.val());
                            date_of_birth_arr.push(date_of_birth.val());
                            cmnd_arr.push(cmnd_arr.val());
                            current_japanese_level_arr.push(current_japanese_level.val());
                            address_arr.push(address.val());
                        }
                    }
                );

                if(employer_name_arr.length && country_arr.length && address_arr.length){
                    data = new Object();
                    data.employer_name = employer_name_arr;
                    data.country = country_arr;
                    data.address = address_arr;

                    jsonString = JSON.stringify(data);
                    $.ajax(
                        {
                            url: "{% url 'data_entry_save' %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': csrftoken,
                                'data': jsonString,
                                'data_of': 'Employer'
                            },
                            success: function () {
                                $('#input-here').empty();
                                addNewRow()
                                alert("Dữ liệu đã được lưu thành công vào hệ thống.");
                            },
                            error: function () {
                                alert("Đã có lỗi xảy ra, vui lòng liên hệ nhà quản trị.");
                            }
                        }
                    );
                }
            }
        );
    </script>
{% endblock extra_js %}