{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron">
        <h3>Nhập dữ liệu về giáo viên</h3>
        <table class="table">
            <thead>
                <th>Tên giáo viên</th>
                <th>Ngày sinh</th>
                <th>CMND</th>
                <th>Quốc tịch</th>
                <th>Địa chỉ hiện tại</th>
            </thead>
            <tbody id="input-here">
            </tbody>
        </table>
        <div class="row"><button type="button" class="glyphicon glyphicon-plus" id="btn-add-row">Thêm dòng</button></div>
        <div class="row">
            <button type="button" class="btn btn-primary" id="btn-submit">Lưu lại</button>
            <button type="button" class="btn btn-primary" id="btn-reset">Xóa</button>
            <a type="button" href={% url 'data_entry_main' %} class="btn btn-primary">Chọn Bảng Khác</a>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
    function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
     return cookieValue;
    };
    function addNewRow(){
        $('#input-here').append($('<tr>')
        .append($('<td>')
            .append($('<input id="teacher_name" type="text">')
            )
        )
        .append($('<td>')
            .append($('<input id="date_of_birth" type="date">')
            )
        )
        .append($('<td>')
            .append($('<input id="cmnd" type="text">')
            )
        )
        .append($('<td>')
            .append($('<input id="nationality" type="text">')
            )
        )
        .append($('<td>')
            .append($('<input id="address" type="text">')
            )
        )
        .append($('<td>')
            .append($('<button class="glyphicon glyphicon-minus" type="button" onClick="$(this).closest(\'tr\').remove();">'))
        )
    );
    };
        $(document).ready(addNewRow());

        $('#btn-add-row').click(
            function () {
                addNewRow()
            });

        $('#btn-reset').click(
            function () {
                $('#input-here').empty();
            }
        );
        $('#btn-submit').click(
            function () {
                var csrftoken = getCookie('csrftoken');

                var teacher_name_arr = [];
                var date_of_birth_arr = [];
                var cmnd_arr = [];
                var nationality_arr = [];
                var address_arr = [];

                $('#input-here tr').each(
                    function () {
                        var teacher_name = $(this).find('#teacher_name');
                        var date_of_birth = $(this).find('#date_of_birth');
                        var cmnd = $(this).find('#cmnd');
                        var nationality = $(this).find('#nationality');
                        var address = $(this).find('#address');

                        var good_to_go = true;

                        if(!teacher_name.val()){
                            good_to_go = false;
                            teacher_name.parent('td').addClass('warning');
                            alert("Thiếu tên giáo viên.");
                        }else {
                            teacher_name.parent('td').removeClass('warning');
                        };
                        if(!date_of_birth.val()){
                            good_to_go = false;
                            date_of_birth.parent('td').addClass('warning');
                            alert("Thiếu ngày sinh.");
                        }else{
                            date_of_birth.parent('td').removeClass('warning');
                        };
                        if(!cmnd.val()){
                            good_to_go = false;
                            cmnd.parent('td').addClass('warning');
                            alert("Thiếu số cmnd.");
                        }else{
                            cmnd.parent('td').removeClass('warning');
                        };
                        if(!nationality.val()){
                            good_to_go = false;
                            nationality.parent('td').addClass('warning');
                            alert("Thiếu thông tin quốc tịch.");
                        } else {
                            nationality.parent('td').removeClass('warning');
                        };
                        if(!address.val()){
                            good_to_go = false;
                            address.parent('td').addClass('warning');
                            alert("Thiếu địa chỉ hiện tại.");
                        } else {
                            address.parent('td').removeClass('warning');
                        };

                        if(good_to_go){
                            teacher_name_arr.push(teacher_name.val());
                            date_of_birth_arr.push(date_of_birth.val());
                            cmnd_arr.push(cmnd_arr.val());
                            nationality_arr.push(nationality.val());
                            address_arr.push(address.val());
                        }
                    }
                );

                if(teacher_name_arr.length && date_of_birth_arr.length && cmnd_arr.length && nationality_arr.length && address_arr.length){
                    data = new Object();
                    data.teacher_name = teacher_name_arr;
                    data.date_of_birth = date_of_birth_arr;
                    data.cmnd = cmnd_arr;
                    data.nationality = nationality_arr;
                    data.address = address_arr;

                    jsonString = JSON.stringify(data);
                    $.ajax(
                        {
                            url: "{% url 'data_entry_save' %}",
                            type: "POST",
                            data: {
                                'csrfmiddlewaretoken': csrftoken,
                                'data': jsonString,
                                'data_of': 'Teacher'
                            },
                            success: function () {
                                $('#input-here').empty();
                                addNewRow()
                                alert("Dữ liệu đã được lưu thành công vào hệ thống.");
                            },
                            error: function () {
                                alert("Đã có lỗi xảy ra, vui lòng liên hệ nhà quản trị.");
                            }
                        }
                    );
                }
            }
        );
    </script>
{% endblock extra_js %}