{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
    <h2>Vui lòng chọn mục bạn muốn sử dụng:</h2>
    <table class="table">
        <tr>
            <td>
                <a role="button" class="btn btn-primary glyphicon glyphicon-plus" href="/data-entry">
                    <span><br>Nhập dữ liệu</span>
                </a>
            </td>
            <td>
                <a role="button" class="btn btn-primary glyphicon glyphicon-search" id="developing-search">
                    <span><br>Tìm kiếm dữ liệu</span>
                </a>
            </td>
            <td>
                <a role="button" class="btn btn-primary glyphicon glyphicon-stats" id="developing-dashboard">
                    <span><br>Xem thống kê, báo cáo</span>
                </a>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        $("#developing-search").click(function (){
            alert("Đang phát triển, vui lòng thử lại sau.")
        });
        $("#developing-dashboard").click(function (){
            alert("Đang phát triển, vui lòng thử lại sau.")
        });
    </script>
{% endblock extra_js %}