{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron">
    <h2>Vui lòng chọn mục bạn muốn sử dụng:</h2>
    <table>
        <th></th>
        <th></th>
        <th></th>
        <tr>
            <td>
                <button>Nhập dữ liệu</button>
            </td>
            <td>
                <button>Tìm kiếm dữ liệu</button>
            </td>
            <td>
                <button>Xem thống kê, báo cáo</button>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}